@* @model IEnumerable<Task1.Data.Models.Department> *@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div ng-app="ngApp" ng-controller="departmentCtrl">

    @* Create *@
    
    <div class="row">
        <div class="col-md-4">
            @* <form> *@
                <div class="form-group">
                    <label for="id" class="control-label">ID</label>
                    <input for="id" ng-model="id" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input for="name" ng-model="name" class="form-control" />
                </div>
                <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" ng-show="!editMode" ng-click="Create()" />
                <input type="button" value="Update" class="btn btn-primary" ng-show="editMode" ng-click="Update()" />
                </div>
            @* </form> *@
        </div>
    </div>


    @* data table *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in departments">
                <td>
                    {{ x.id }}
                </td>
                <td>
                    {{ x.name }}
                </td>
                <td>
                    <a ng-click="Edit(x.id, x.name)">Edit</a> |

                    <a>Details</a> |
                    <a ng-click="Delete(x.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/scriptng/module/app.js"></script>
<script src="~/scriptng/services/departmentservice.js"></script>
<script src="~/scriptng/controllers/departmentctrl.js"></script>