@*@model IEnumerable<Task1.Data.Models.Employee> *@  

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action = "Create">Create New</a>  
</p>
<div ng-app="ngApp" ng-controller="employeeCtrl">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id" class="control-label">Id</label>
                <input id="id" ng-model="id" class="form-control" />
            </div>

            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input id="name" ng-model="name" class="form-control" />
            </div>
        
                <div class="form-group">
                    <label for="departmentId" class="control-label">Department</label>
                    <select id="departmentId" class="form-control" ng-model="departmentId">
                        <option value="">Select Department</option>
                        <option ng-repeat="item in departments" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    <div class="form-group">
        <input type="button" value="Create" class="btn btn-primary" ng-show="!editMode" ng-click="CreateEmployee()" />
        <input type="button" value="Update" class="btn btn-primary" ng-show="editMode" ng-click="Update()" />
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Department ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                    <td>
                        {{ employee.id }}
                    </td>
                    <td>
                        {{ employee.name }}
                    </td>
                    <td>
                        {{ employee.departmentId }}
                    </td>
                    <td>
                        <a ng-click="Edit(employee.id, employee.name, employee.departmentId)">Edit</a> |
                        <a ng-click="Delete(employee.id)">Delete</a>
                         <a ng-click="Details(employee.id)">Details</a>
                    </td>
             </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Employee Id:</strong> {{modalData.id}}</p>
                <p><strong>Employee Name:</strong> {{modalData.name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/scriptng/module/app.js"></script>
<script src="~/scriptng/services/employeeservice.js"></script>
<script src="~/scriptng/controllers/employeectrl.js"></script>


