@model Task1.Models.ChangeRequestForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChangeRequestForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="projectName" class="control-label"></label>
                <input asp-for="projectName" class="form-control" />
                <span asp-validation-for="projectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moduleName" class="control-label"></label>
                <input asp-for="moduleName" class="form-control" />
                <span asp-validation-for="moduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requestBy" class="control-label"></label>
                <input asp-for="requestBy" class="form-control" />
                <span asp-validation-for="requestBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requestDate" class="control-label"></label>
                <input asp-for="requestDate" class="form-control" />
                <span asp-validation-for="requestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changeRequestDetails" class="control-label"></label>
                <input asp-for="changeRequestDetails" class="form-control" />
                <span asp-validation-for="changeRequestDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="signature" class="control-label"></label>
                <input asp-for="signature" class="form-control" />
                <span asp-validation-for="signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="/ChangeRequestForms/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
