
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="/ChangeRequestForms">ChangeRequestForm</a>.</p>
    <p>Learn about <a href="/Departments">Department</a>.</p>
    <p>Learn about <a href="/Employees">Employee</a>.</p>
    <p>Learn about <a href="/Users"> User</a>.</p>
</div>

